<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/jee
    	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
    http://www.springframework.org/schema/util
    	http://www.springframework.org/schema/util/spring-util-3.0.xsd"
  default-autowire="byName">

	<context:annotation-config/>
	<tx:annotation-driven/>
	   
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  	<property name="driverClassName" value="org.postgresql.Driver"/>
  	<property name="username" value="callerid"/>
  	<property name="password" value="c@ll3r1d"/>
  	<property name="url" value="jdbc:postgresql://hurst:5432/callerid"/>
  </bean>  
	 
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="annotatedClasses">
			<list>
				<value>uk.co.unclealex.callerid.server.model.TelephoneNumber</value>
				<value>uk.co.unclealex.callerid.server.model.CallRecord</value>
				<value>uk.co.unclealex.callerid.server.model.Contact</value>
				<value>uk.co.unclealex.callerid.server.model.User</value>
				<value>uk.co.unclealex.callerid.server.model.OauthToken</value>
				
			</list>
		</property>
	</bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"/>

	<!-- DAOs -->
	
	<bean id="telephoneNumberDao" class="uk.co.unclealex.callerid.server.dao.HibernateTelephoneNumberDao"/>
	<bean id="callRecordDao" class="uk.co.unclealex.callerid.server.dao.HibernateCallRecordDao"/>
	<bean id="contactDao" class="uk.co.unclealex.callerid.server.dao.HibernateContactDao"/>
	<bean id="oauthTokenDao" class="uk.co.unclealex.callerid.server.dao.HibernateOauthTokenDao"/>
	<bean id="userDao" class="uk.co.unclealex.callerid.server.dao.HibernateUserDao"/>
	
	<!-- Squeezebox -->
	<bean id="squeezeboxConnectionFactory" class="uk.co.unclealex.callerid.server.service.squeezebox.SqueezeboxConnectionFactoryImpl">
		<property name="host" value="hurst"/>
		<property name="port" value="9090"/>
	</bean>
	
	<!-- Services -->

	<bean id="numberLocationService" class="uk.co.unclealex.callerid.server.service.NumberLocationServiceImpl"/>
	<bean id="modemListeningService" class="uk.co.unclealex.callerid.server.service.ModemListeningServiceImpl"/>
	<bean id="callerIdService" class="uk.co.unclealex.callerid.server.service.CallerIdServiceImpl"/>
	<bean id="googleContactsService" class="uk.co.unclealex.callerid.server.service.GoogleContactsServiceImpl"/>
	<bean id="telephoneNumberFactory" class="uk.co.unclealex.callerid.server.service.TelephoneNumberFactoryImpl"/>		
  <bean id="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor"/>

  <bean id="numberService" class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="target">
			<bean class="uk.co.unclealex.callerid.server.service.NumberServiceImpl">
				<property name="numberListeners">
					<util:list>
						<bean class="uk.co.unclealex.callerid.server.service.listener.CallLoggingNumberListener"/>
						<bean class="uk.co.unclealex.callerid.server.service.listener.SqueezeboxDisplayingNumberListener"/>
					</util:list>
				</property>
			</bean>
    </property>
    <property name="proxyInterfaces" value="uk.co.unclealex.callerid.server.service.NumberService"/>
    <property name="interceptorNames" value="hibernateInterceptor"/>
  </bean>
	
	<bean id="modemController" class="uk.co.unclealex.callerid.server.service.modem.StreamModemController"/>

	<bean id="modemProvider" class="uk.co.unclealex.callerid.server.service.modem.NetworkModemProvider">
		<property name="host" value="hurst"/>
		<property name="port" value="3002"/>
	</bean>
	<!--
	<bean id="modemProvider" class="uk.co.unclealex.callerid.server.service.modem.StdioModemProvider"/>
	-->
</beans>

