/* fonts.css file - this is retrieved from the google fonts link */
/* it was retrieved from <link href='http://fonts.googleapis.com/css?family=Ubuntu&v1' rel='stylesheet' type='text/css'> */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('http://themes.googleusercontent.com/font?kit=0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('http://themes.googleusercontent.com/font?kit=vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url('http://themes.googleusercontent.com/font?kit=kbP_6ONYVgE-bLa9ZRbvvnYhjbSpvc47ee6xR_80Hnw') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: bold;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('http://themes.googleusercontent.com/font?kit=OMD20Sg9RTs7sUORCEN-7brIa-7acMAeDBVuclsi6Gc') format('woff');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body, table td, a, div, p, pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}