@import '../node_modules/react-md/src/scss/react-md';

$md-avatar-size: 64px;
$md-avatar-border-color: white;
$md-avatar-default-background: $md-primary-color;

$md-card-title-font-size: 16px;


//$md-colors-warn-md: false;

//$md-primary-color: #7c2c3b;
//$md-secondary-color: #2dafe5;
