@import 'globals';

$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';

@include react-md-everything;

@media only screen and (min-width: $md-desktop-min-width) {
  .hide-on-desktop {
    display: none;
  }
}

@media only screen and (max-width: $md-desktop-min-width) {
  .show-on-desktop {
    display: none;
  }
}

.call-card, .authenticate-card {
    @extend %md-block-centered;
    max-width: 600px;
}
