<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Hammers Calendar</display-name>

 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>
  	classpath:applicationContext-callerid.xml
  </param-value>
 </context-param>

 <filter>
  <filter-name>hibernate</filter-name>
  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  <init-param>
   <param-name>singleSession</param-name>
   <param-value>true</param-value>
  </init-param>
 </filter>

 <filter-mapping>
  <filter-name>hibernate</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>

 <listener>
  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>

  <servlet>
    <servlet-name>callerIdServlet</servlet-name>
    <servlet-class>uk.co.unclealex.callerid.server.servlet.CallerIdServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>callerIdServlet</servlet-name>
    <url-pattern>/callerid/callerid</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>commandServlet</servlet-name>
		<servlet-class>uk.co.unclealex.callerid.server.servlet.CommandServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>commandServlet</servlet-name>
		<url-pattern>/command</url-pattern>
	</servlet-mapping>
	
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>callerid.html</welcome-file>
  </welcome-file-list>

  <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/callerid</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
