@(phoneNumber: uk.co.unclealex.callerid.remote.number.PhoneNumber,
  formattedNumber: List[String],
  formattedAddress: List[String],
  callDate: java.util.Date,
  contact: Option[uk.co.unclealex.callerid.remote.contact.Contact])
<tr>
  <td>
    <h5 class="date">
      @callDate.format("HH:mm MMMM dd, YYYY")
    </h5>
    <span class="number">
      @formattedNumber.mkString(" ")
    </span>
    <br />
    @contact.map { contact =>
        <span class="contact">@contact.name</span>
    }.getOrElse {
        <span class="location">
            @formattedAddress.mkString(", ")
        </span>
    }
  </td>
  <td>
    <div class="call-buttons">
    @button(disabled : Boolean, clazz : String, icon : String, data : Pair[String,String]*) = {
        <button @if(disabled) {
            disabled='disabled'
        }
        class="btn @clazz"
        @data.map { case(k,v) =>
            data-@k="@v"    
        }>
            <i class="@icon"></i>
        </button>
    }
    @button(contact.isDefined, "contact", "icon-user", "number" -> formattedNumber.mkString)
    @button(
      contact.isDefined, 
      "search", 
      "icon-search",
      "search-term" -> ("0" + phoneNumber.city.map(_.stdCode).getOrElse("") + phoneNumber.number))
    @button(
      false, 
      "map-marker", 
      "icon-map-marker",
      "country-code" -> phoneNumber.countries.head.isoCode,
      "location" -> {
        val cityOrCountry : String = phoneNumber.city.map(_.name).getOrElse(phoneNumber.countries.head.name)
        contact.map(_.address.getOrElse(cityOrCountry)).getOrElse(cityOrCountry)
      })
  </div>
  </td>
</tr>
